*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hidden{
    display: none !important;
}

.Page2{
    background-image: url("../Images/Page2_Page3_Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Page2Info{
    position: absolute;
    width: 100vw;
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ParentDivHexa{
    position: relative;
    margin: 50px auto;
    transform: scale(1.5);
    height: 0px;
    width: 300px;
    border-top: 20px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s;
}
.ParentDivHexa::after{
    position: absolute;
    content:' ';
    height: 0px;
    width: 272px;
    border-bottom: 20px solid rgb(255, 255, 255);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    bottom: 20px;
    left: -15px;
    transition: all 0.2s;
}

.childDivHexa{
    position: relative;
    margin: 0px auto;
    transform: scale(0.8);
    height: 0px;
    width: 360px;
    border-top: 20px solid rgb(0, 0, 0);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    z-index: 4;
    top: -22px;
    right: 44px;
}
.childDivHexa::after{
    position: absolute;
    content:' ';
    height: 0px;
    width: 332px;
    border-bottom: 20px solid rgb(0, 0, 0);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    bottom: 19px;
    left: -15px;
}

.childDivHexa .Page2H1{
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 5;
    top: -31px;
    font-size: 20px;
    color: white;
}

.ParentDivHexa:hover{
    transform: scale(1.7);
    border-top: 20px solid #00741dbd;
}
.ParentDivHexa:hover::after {
    border-bottom: 20px solid #00741dbd;
}

.ParentDivHexa:hover .childDivHexa h1{
    text-shadow: 0 0 10px white,0 0 5px white,0 0 20px white;
}

.ParentDivHexa:active{
    transform: scale(1.6);
}

.levels,.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    top: -35px;
    z-index: 5;
}
.levels .fa-solid, .colors .fa-solid{
    font-size: 30px;
    transition: all 0.5;
}
.levels .fa-solid:hover, .colors .fa-solid:hover{
    transform: scale(1.2);
}
.levels h1,.colors h1{
    font-size: 20px;
    color: sil;
}


/* Responsiveness For Page 2 */
@media only screen and (max-width: 800px) {
    .ParentDivHexa{
        transform: scale(1.2);
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .ParentDivHexa:hover{
        transform: scale(1.4);
    }
}
@media only screen and (max-width: 450px) {
    .ParentDivHexa{
        transform: scale(0.9);
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .ParentDivHexa:hover{
        transform: scale(1);
    }
}